* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #fafafa;
  scroll-behavior: smooth;

}



.herocontainer {
  width: 100%;
  min-height: 100vh;
  background: url(img/mansion1.jpg);
  background-size: cover;
  background-position: center center;
  .herologo {
    margin-bottom: 1rem;
    width: 9rem;
  }

  .heroflex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .herocontent {
      width: 32%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;      
      padding: 2rem;
      margin: 13% auto 0 auto;
      box-shadow: #c5c5c562 0 12px 24px 0;
      animation-duration: 0.618s;
      animation-delay: 0.3s;

      h1 {
        font-size: 48px;
        font-weight: 900;
        font-family: 'Playfair Display', serif;
        margin-bottom: 1rem;
      }

      h2 {
        font-weight: 900;
        font-family: 'Playfair Display', serif;
        margin-bottom: 1rem;

      }

      p {
        font-weight: 400;
        margin-bottom: 1.5rem;
        width: 62%;
      }
    }
  }
}



.herobutton {
  background-color: #424242;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 175px;
  text-align: center;
  border: 2px solid #424242;
}

.herobutton:hover,
.herobutton:active,
.herobutton:focus {
  background-color: transparent !important;
  color: black;
}

.featured {
  width: 100%;
  padding: 3rem;

  .featuredflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #333;

    img {
      width: 50%;
      filter: brightness(85%);
    }

    .featuredcontent {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 3rem;
      color: rgba(255, 255, 255, 0.884);

      p {
        font-weight: 400;
      }

      h2 {
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        margin-bottom: 1rem;
      }

      .herobutton {
        background-color: #ebebeb;
        color: black;
      }

      .herobutton:hover,
      .herobutton:active {
        color: white;
        background-color: #424242;
      }
    }
  }
}

.candles {
  width: 100%;
  padding: 0 3rem 0 3rem;

  /*
    .pickgradient {
        background: linear-gradient(to right, black, white);
        position:relative;
  display:inline-block;
    }
    .pickgradient:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        background: linear-gradient(360deg, #5f5f5f5b, #5555554b);
      }
      */
  img {
    width: 100%;
    max-height: 350px;
  }

  .candlecontent {
    background-color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: #e2e2e262 0 12px 24px 0;

    h2 {
      font-size: 24px;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 500;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}

.cardcontent:hover,
.cardcontent:active,
.cards2content:hover,
.cards2content:active {
  box-shadow: #00000046 0 1px 32px 0 !important;
}

.cards {
  width: 100%;
  padding: 3rem 0 3rem 0;
  color: #323232;

  img {
    width: 100%;

  }

  .cardflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;

    .cardcontent {
      width: 30%;
      margin: 0 1rem;
      text-align: center;
      background-color: white;
      box-shadow: #0000001c 0 12px 62px 0;
      transition: all 0.2s linear;

      p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0.25rem;
        color: black;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: #323232;
        font-family: 'Playfair Display', serif;
        margin-bottom: 0.25rem;
      }

      .herobutton:hover,
      .herobutton:active {
        background-color: transparent;
        color: black;
      }
    }
  }

  .cardwords {
    padding: 1rem;
    background-color: white;
  }
}

.cards2 {
  width: 100%;
  padding: 3rem 3rem 0 3rem;

  .cards2flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
      width: 100%;
    }

    .cards2content {
      width: 100%;
      background-color: white;
      margin: 0 1rem 0 0;
      text-align: center;
      box-shadow: #0000001c 0 12px 62px 0;
      transition: all 0.2s linear;

      h2 {
        font-size: 24px;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        color: black;
      }

      p {
        margin: 0;
        color: black;
      }

      .cardwords {
        padding: 1rem;
      }
    }

    .c2c2 {
      margin: 0 0 0 1rem;
    }
  }
}

.livingroomhero {
  background-image: url(img/livingroom.jpg);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 62vh;
}

.bedroomhero {
  background-image: url(img/bedroom.jpg);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 62vh;
}

.kitchenhero {
  background-image: url(img/kitchen.jpg);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 62vh;
}

.flowerpothero {
  background-image: url(img/flowerpot.jpg);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 62vh;
}

.bathroomhero {
  background-image: url(img/accessories.jpg);
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 62vh;
}

.kitchenheroflex,
.livingroomheroflex,
.flowerpotheroflex,
.bedroomheroflex,
.bathroomheroflex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .kitchenherocontent,
  .livingroomherocontent,
  .flowerpotherocontent,
  .bedroomherocontent,
  .bathroomherocontent {
    width: 38%;
    background-color: #f1e7dc;
    min-height: 62vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 3rem;
    text-align: center;

    h1 {
      font-weight: 700;
      font-family: 'Playfair Display', serif;
      margin-bottom: 1rem;
      margin-top: 4rem;
    }
  }
}


.kitchenproducts,
.livingroomproducts,
.flowerpotproducts,
.bedroomproducts,
.bathroomproducts {
  width: 100%;
  padding: 3rem 0 3rem 0;

  .kitchenproductsflex,
  .livingroomproductsflex,
  .flowerpotproductsflex,
  .bedroomproductsflex,
  .bathroomproductsflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      margin-bottom: 1rem;
      background-color: #e7e7e7;
      /*
            box-shadow: #0000001c 0 12px 62px 0;
            */

    }

    .kitchenitem,
    .livingroomitem,
    .flowerpotitem,
    .bedroomitem,
    .bathroomitem {
      width: 20%;
      margin: 20px 20px;

      p:first-of-type {
        font-size: 1rem;
      }

      p {
        margin-bottom: 0.25rem;
        font-weight: 500;
      }

      .itemprice {
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  .herobutton {
    position: relative;
    top: 0.618rem;
  }
}

.fa-star,
.fa-star-half-alt {
  color: #e0bc75;
}


.templateflex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 80%;
  margin: auto;

  img {
    width: 50%;
    margin: 5rem 1rem 5rem 1rem;
    background-color: #e7e7e7;
  }

  .templatecontent {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 5rem 1rem 5rem 1rem;
    h1 {
      font-weight: 600;
    }
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.opinion {
  padding: 0 3rem 0 3rem;

  .opinionflex {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #f1e7dc;

    p {
      margin: 0 3rem;
      font-size: 24px;
      font-family: 'Playfair Display', serif;
      font-weight: 500;
    }
  }
}

.customers {
  padding: 3rem 3rem 0 3rem;
  margin-top: 0 !important;
  color: rgba(255, 255, 255, 0.884);

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .carousel-item {
    background-color: #333; 
    padding: 2rem;
  }

}

.testimonial-carousel .carousel-control.right::before {
    content: "\203a";
    color: white;
}

.testimonial-carousel .carousel-control.left::before {
    color: white;
}


.services {
  width: 100%;
  padding: 0 3rem 3rem 3rem;

  .servicesflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f1e7dc;
    padding: 1rem;

    .serviceitem {
      margin: 0 3rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      h5 {
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
      }

      p {
        margin-bottom: 0;
        font-weight: 500;
      }
    }
  }
}

.font1 {
    font-family: 'Montserrat', sans-serif;
  }

.fa-usps,
.fa-hand-holding-usd,
.fa-headset {
    font-size: 3rem;
    margin-bottom: 0.75rem;
}

.customerservice {
    width: 100%;
    background-color: #ebebeb;
    .customerserviceflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        .customerservicecontent {
            h6 {
                font-size: 18px;
                font-weight: 500;
            }
        }
            .form-control {
                border-color: #333 !important;
            }
        }
        a {
            color: black;
        }
        .herobutton {
            color: white;
        }
        .herobutton:hover,
        .herobutton:active {
            color: black;
        }
        .md-textarea {
            max-height: 50px;
        }
}
.contact {
    width: 62%;
}

.page-footer {
  background-color: #ebebeb;
  color: black !important;
  .footerbottom {
    margin: auto;
    padding: 0.5rem !important;
  }
  a {
    color: black !important;
  }

  h6 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
  }

  .herobutton {
      color: white !important;
  }

  .herobutton:hover,
  .herobutton:active {
      color: black !important;
  }

  .buttonbox {
      margin-top: 1rem;
  }

  

  .customerreview {
    width: 100%;

    .fa-star,
    .fa-star-half-alt {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  
}








.navbar {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 62px;

  .nav-link {
    font-weight: 500;
    color: black;
    margin: 0 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
  }

  .nav-item {
    list-style-type: none;
  }

  .fa-bars {
    font-size: 2rem;
    color: black;
  }

  .logo {
    width: 100px;
  }

  .cartbutton{
    background-color: transparent;
    border: 2px solid #424242;
  }
  .mobileshow {
    display: none;
  }
}

#cards {
  scroll-margin-top: 100px !important;
}




.show-cart {
button, input[type="submit"] { 
    border:1px solid #333 ; 
    color:#fff; 
    background: #333 ; 
    padding:0.6em 1rem;
    font-size:1rem; 
    line-height:1; 
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color:#000;
    cursor: pointer;
}
}




.modal-backdrop {
  z-index: 1;
}
.modalbutton {
  background-color: #424242;
  color: white;
  border: 2px solid #424242;
  transition: all 0.2s linear;
  font-weight: 500;
}
.modalbutton:hover,
.modalbutton:active {
  background-color: transparent;
  color: black;
}
.modalexit {
  background-color: transparent;
  border: 2px solid #333;
  color: black;
}
.nav-tabs {
  background-color: #333;
  color: white;
}
.m0 {
  color: white !important;
}
.fa-user,
.fa-user-plus {
  color: white !important;
}
.userdark {
  color: #333 !important;
}
.modalblack {
  
}

.modal {
  h4 {
    font-family: 'Playfair Display', serif;
  }
  .modal-header {
    background-color: #333;
    color: white;
  }
  .close {
    color: white;
  }
  label, i {
    color: #333;
  }
  
}

.fa-shopping-cart {
  font-size: 1.75rem;
}

.clear-cart {
  background-color: transparent;
  color: black;
  font-weight: 500;
  padding: 0.5rem 1rem 0.5rem 1rem;
border: 2px solid #424242;
}
.clear-cart:hover,
.clear-cart:active {
  background-color: #424242;
  color: white;
}
.delete-item {
  font-weight: 900;
}



@media screen and (max-width: 768px) {
  .herocontainer {
    .herocontent {
      padding: 1rem !important;
      width: 300px !important;
      margin-top: 50% !important;
      h1 {
        font-size: 32px !important;
      }
      p {
        width: 100% !important;
      }
    }
  }
  .cards,
  .cards2 {
    padding: 1rem;
  }
  .cardflex,
  .cards2flex {
    flex-flow: column nowrap !important;
    .cardcontent,
    .cards2content {
      width: 100% !important;
      margin: 0 0 2rem 0 !important;
      
    }
    .c2c2 {
      margin-left: 0;
    }
  }
  .candles {
    padding: 1rem;
  }
  .featured {
    padding: 1rem;
  }
  .featuredflex {
    flex-flow: column nowrap !important;
    img {
      width: 100% !important;
    }
    .featuredcontent {
      padding: 2rem !important;
    }
  }
  .opinion {
    padding: 1rem;
    .opinionflex {
      flex-flow: column nowrap;
      padding: 1rem;
      p {
        margin: 0 0 1rem 0;
        text-align: center;
      }
    }
  }
  .customers {
    padding: 1rem;
    .carousel-item {
      padding: 1rem;
    }
  }
  .services {
    padding: 1rem;
    text-align: center;
    .servicesflex {
      flex-flow: column nowrap;
      .serviceitem {
        margin-bottom: 2rem;
      }
    }
  }
  .templateflex {
    flex-flow: column nowrap;
    img {
      width: 100%;
    }
  }
  .livingroomhero,
  .flowerpothero,
  .bathroomhero,
  .kitchenproducts,
  .bedroomherocontent,
  .kitchenheroflex,
  .livingroomheroflex,
  .bedroomheroflex,
  .bathroomheroflex,
  .flowerpotheroflex {
    flex-flow: column nowrap;
    background-size: cover;
    background-position: center center;

    .kitchenherocontent,
    .livingroomherocontent,
    .bedroomherocontent,
    .flowerpotherocontent,
    .bathroomherocontent {
      width: 100%;
      h1 {
        margin-top: 0;
      }
    }
  }
  .livingroomproducts,
  .kitchenproducts,
  .bedroomproducts,
  .flowerpotproducts,
  .bathroomproducts {
    padding-top: 0;
  }
  .kitchenproductsflex,
  .livingroomproductsflex,
  .flowerpotproductsflex,
  .bedroomproductsflex,
  .bathroomproductsflex {
    flex-flow: column nowrap !important;
    padding: 2rem;
    .livingroomitem,
    .kitchenitem,
    .bedroomitem,
    .flowerpotitem,
    .bathroomitem {
      width: 100% !important;
      text-align: center;
    }
  } 
  .customerserviceflex {
    flex-flow: column nowrap !important;
    .contact {
      width: 100%;
    }
  }
  .navbar-nav {
    background-color: #fff;
  }
  .mobileshow {
    display: unset !important;
    a {
      background-color: #424242 !important;
      color: white !important;
      font-family: 'Raleway', sans-serif !important;
    }
  }
  
  .mobilehide {
    display: none;
  }
  .nav-item {
  }
}

.fa-quote-left {
  margin-right: 0.5rem;
}

@media screen and (max-width: 1300px) {

  
  .navbar {
    max-height: unset;
  }
}

/*
.side-nav {
    position: relative;
    top: 3.65rem;
}

.sidenavbtn {
    top: 5rem;
    position: relative;
}

.productcontainer {
    padding-left: 240px;
    }
    
    @media only screen and (max-width : 1500px) {
    .productcontainer {
    padding-left: 0;
    }
    }
*/


.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
/*
.card1 {
  position: relative;
  width: 320px;
  height: 420px;
  background-color: #122936;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.card1::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #2196fc;
  transform: skewY(345deg);
  transition: all 0.5s;
}

.card1:hover::before {
  top: -70%;
  transform: skewY(390deg);
}



.card1 .imghp {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card1 .imghp img {
  max-width: 100%;
  transition: all 0.5s;
}

.card1:hover .imghp img {
  max-width: 50%;
}

.card1 .contenthp {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 1;
}

.card1 .contenthp h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.card1 .contenthp .price {
  font-size: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.card1 .contenthp .buy {
  position: relative;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: #2196f3;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: all 0.5s;
  opacity: 0;

}

.card1:hover .contenthp .buy {
  top: 0;
  opacity: 1;
} 

*/