* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
    background: #fafafa;
    
}

.herocontainer {
    width: 100%;
    min-height: 100vh;
    background: url(img/mansion1.jpg);
    background-size: cover;
    background-position: center -14rem;
    .heroflex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .herocontent {
            width: 500px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            padding: 1rem;
            margin: 7.15% 0 0 3rem;
            box-shadow: #c5c5c562 0 12px 24px 0;
            h1 {
                font-size: 48px;
                font-weight: 900;
                font-family: 'Playfair Display', serif;
                margin-bottom: 1rem;
            }
            h2 {
                font-weight: 900;
                font-family: 'Playfair Display', serif;
                margin-bottom: 1rem;

            }
            p {
                font-weight: 400;
                margin-bottom: 1.5rem;
                width: 62%;
            }
        }
    }
}

.herobutton {
    background-color: #424242;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 175px;
    text-align: center;
    border: 2px solid #424242;
}
.herobutton:hover,
.herobutton:active {
    background-color: transparent;
    color: black;
}

.featured {
    width: 100%;
    padding: 3rem;
    .featuredflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background-color: #333;
        img {
            width: 50%;
            filter: brightness(85%);
        }
        .featuredcontent {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 3rem;
            color: white;
            p {
                font-weight: 400;
            }
            h2 {
                font-weight: 700;
                font-family: 'Playfair Display', serif;
            }
            .herobutton:hover,
            .herobutton:active {
                color: white;
            }
        }
    }
}

.candles {
    width: 100%;
    padding: 3rem;
    /*
    .pickgradient {
        background: linear-gradient(to right, black, white);
        position:relative;
  display:inline-block;
    }
    .pickgradient:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        background: linear-gradient(360deg, #5f5f5f5b, #5555554b);
      }
      */
    img {
        width: 100%;
        max-height: 350px;
    }
    .candlecontent {
        background-color: white;
        padding: 1rem;
        text-align: center;
        box-shadow: #e2e2e262 0 12px 24px 0;
        h2 {
            font-size: 24px;
            font-family: 'Playfair Display', sans-serif;
            font-weight: 500;
        }
        p {
            margin-bottom: 0.5rem;
        }
    }
}

.cards {
    width: 100%;
    padding: 3rem 0 3rem 0;
    color: #323232;
    img {
        width: 100%;
        transition: all 0.2s linear;
    }
    img:hover,
    img:active {
    }
    .cardflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        .cardcontent {
            width: 30%;
            margin: 0 1rem;
            text-align: center;
            background-color: white;
            box-shadow: #e2e2e262 0 12px 24px 0;
            
            h4 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0.25rem;
            }
            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                color: #323232;
                font-family: 'Playfair Display', serif;
                margin-bottom: 0.25rem;
            }
            .herobutton:hover,
            .herobutton:active {
                background-color: transparent;
                color: black;
            }
        }
    }
    .cardwords {
        padding: 1rem;
        background-color: white;
    }
}

.livingroomhero {
    background-image: url(img/livingroom.jpg);
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 18rem 50%;
    min-height: 55vh;
}

.kitchenhero {
    background-image: url(img/kitchen.jpg);
    object-fit: cover;
    width: 100%;
    background-size: cover;
    background-position: 18rem 50%;
    min-height: 55vh;
}

    .kitchenheroflex,
    .livingroomheroflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .kitchenherocontent,
        .livingroomherocontent {
            width: 38%;
            background-color: #F7f2ed;
            min-height: 55vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 3rem;
            margin-top: 3.54rem;
            h1 {
                font-weight: 700;
                font-family: 'Playfair Display', serif;
                margin-bottom: 1rem;
            }
        }
    }


.kitchenproducts,
.livingroomproducts {
    width: 100%;
    padding: 3rem 0 3rem 0;
    .kitchenproductsflex,
    .livingroomproductsflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            margin-bottom: 1rem;
            background-color: #e7e7e7;
        }
        .kitchenitem,
        .livingroomitem {
            width: 30%;
            margin: 20px 20px;
            p {
                margin-bottom: 0.25rem;
            }
            .itemprice {
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}

.fa-star,
.fa-star-half-alt {
    color: #e0bc75;
}


.templateflex { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 80%;
    margin: auto;
    
    img {
        width: 50%;
        margin: 5rem 1rem 5rem 1rem;
        background-color: #e7e7e7;
    }
    .templatecontent {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 5rem 1rem 5rem 1rem;
        h3 {
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.page-footer {
    background-color: #ebebeb;
    color: black !important;
    a {
        color: black !important;
    }
    .font1 {
        font-family: 'Montserrat', sans-serif;
    }
    .customerreview {
        width: 100%;
        .fa-star,
        .fa-star-half-alt {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
}

.testimonials {
    width: 100%;
    padding: 3rem 1rem 3rem 1rem;
    .testimonialflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        .testimonial-card {
            width: 30%;
            margin: 0 20px;
            .card-up {
                background-color: #333;
            }
        }
    }
}



.navbar {
    background-color: white;
    .nav-link {
        font-weight: 500;
        color: black;
        margin: 0 20px;
    }
    .fa-bars {
        font-size: 2rem;
    }
}

