* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.herocontainer {
    width: 100%;
    min-height: 100vh;
    background: url(img/adam-winger-nclN_J0UtJ8-unsplash.jpg);
    background-size: cover;
    background-position: center -14rem;
    .heroflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        .herocontent {
            min-height: 50vh;
            width: 38%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.842);
            padding: 1rem;
            margin-top: 15%;
            h1 {
                font-size: 48px;
                font-weight: 900;
                font-family: 'Playfair Display', serif;
                margin-bottom: 1rem;
            }
            h2 {
                font-weight: 900;
                font-family: 'Playfair Display', serif;
                margin-bottom: 1rem;

            }
            p {
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
        }
    }
}

.herobutton {
    background-color: #e0bc75;
    color: black;
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 175px;
    text-align: center;
    border: 2px solid #e0bc75;
}
.herobutton:hover,
.herobutton:active {
    background-color: transparent;
    color: black;
}

.featured {
    width: 100%;
    background-color: #333;
    .featuredflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        img {
            width: 50%;
        }
        .featuredcontent {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 3rem;
            color: white;
            p {
                font-weight: 400;
            }
            h2 {
                font-weight: 700;
                font-family: 'Playfair Display', serif;
            }
        }
    }
}

.cards {
    width: 100%;
    padding: 2rem 0 2rem 0;
    img {
        width: 100%;
        margin-bottom: 1rem;
        transition: all 0.2s linear;
    }
    img:hover,
    img:active {
    }
    .cardflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        .cardcontent {
            width: 30%;
            margin: 0 1rem;
            h4 {
                font-size: 16px;
                font-weight: 500;
            }
            h2 {
                font-size: 1.5rem;
                font-weight: 900;
                margin-bottom: 1.25rem;
                color: black;
                font-family: 'Playfair Display', serif;
            }
            .herobutton {
                font-family: 'Montserrat', sans-serif;
            }
            .herobutton:hover,
            .herobutton:active {
                background-color: transparent;
                color: black;
            }
        }
    }
}


.navbar {
    background-color: white;
    .nav-link {
        font-weight: 500;
    }
}

.templateflex { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 80%;
    margin: auto;
    
    img {
        width: 50%;
        margin: 5rem 1rem 5rem 1rem;
    }
    .templatecontent {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 5rem 1rem 5rem 1rem;
    }
}