* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #f2f2f2;
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  background: url(img/mansion1.jpg);
  background-size: cover;
  background-position: center -14rem;
}

.herocontainer .heroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herocontainer .heroflex .herocontent {
  width: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.63);
  padding: 1rem;
  margin: 7.15% 0 0 3rem;
  -webkit-box-shadow: #00000062 0 12px 24px 0;
          box-shadow: #00000062 0 12px 24px 0;
}

.herocontainer .heroflex .herocontent h1 {
  font-size: 48px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent h2 {
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent p {
  font-weight: 400;
  margin-bottom: 1.5rem;
  width: 62%;
}

.herobutton {
  background-color: #e0bc75;
  color: black;
  font-weight: 500;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 175px;
  text-align: center;
  border: 2px solid #e0bc75;
}

.herobutton:hover,
.herobutton:active {
  background-color: transparent;
  color: black;
}

.featured {
  width: 100%;
  padding: 3rem;
}

.featured .featuredflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
}

.featured .featuredflex img {
  width: 50%;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.featured .featuredflex .featuredcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  color: white;
}

.featured .featuredflex .featuredcontent p {
  font-weight: 400;
}

.featured .featuredflex .featuredcontent h2 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.featured .featuredflex .featuredcontent .herobutton:hover,
.featured .featuredflex .featuredcontent .herobutton:active {
  color: white;
}

.candles {
  width: 100%;
  padding: 3rem;
}

.candles img {
  width: 100%;
}

.candles .candlecontent {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

.candles .candlecontent h2 {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}

.candles .candlecontent p {
  margin-bottom: 0.5rem;
}

.cards {
  width: 100%;
  padding: 3rem 0 3rem 0;
  color: #323232;
}

.cards img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cards .cardflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .cardflex .cardcontent {
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  background-color: #fff;
}

.cards .cardflex .cardcontent h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.cards .cardflex .cardcontent h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.25rem;
}

.cards .cardflex .cardcontent .herobutton:hover,
.cards .cardflex .cardcontent .herobutton:active {
  background-color: transparent;
  color: black;
}

.cards .cardwords {
  padding: 1rem;
}

.kitchenhero {
  background-image: url(img/kitchen.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 55vh;
}

.kitchenhero .kitchenheroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchenhero .kitchenheroflex .kitchenherocontent {
  width: 38%;
  background-color: #F7f2ed;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  margin-top: 3.54rem;
}

.kitchenhero .kitchenheroflex .kitchenherocontent h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.kitchenproducts {
  width: 100%;
  padding: 3rem 0 3rem 0;
}

.kitchenproducts .kitchenproductsflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitchenproducts .kitchenproductsflex img {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #e7e7e7;
}

.kitchenproducts .kitchenproductsflex .kitchenitem {
  width: 30%;
  margin: 20px 20px;
}

.kitchenproducts .kitchenproductsflex .kitchenitem p {
  margin-bottom: 0.25rem;
}

.kitchenproducts .kitchenproductsflex .kitchenitem .itemprice {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.fa-star,
.fa-star-half-alt {
  color: #e0bc75;
}

.templateflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.templateflex img {
  width: 50%;
  margin: 5rem 1rem 5rem 1rem;
  background-color: #F7f2ed;
}

.templateflex .templatecontent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 1rem 5rem 1rem;
}

.navbar {
  background-color: white;
}

.navbar .nav-link {
  font-weight: 500;
  color: black;
  margin: 0 20px;
}

.navbar .fa-bars {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */