* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #fafafa;
  scroll-behavior: smooth;
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  background: url(img/mansion1.jpg);
  background-size: cover;
  background-position: center center;
}

.herocontainer .herologo {
  margin-bottom: 1rem;
  width: 9rem;
}

.herocontainer .heroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herocontainer .heroflex .herocontent {
  width: 32%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 2rem;
  margin: 13% auto 0 auto;
  -webkit-box-shadow: #c5c5c562 0 12px 24px 0;
          box-shadow: #c5c5c562 0 12px 24px 0;
}

.herocontainer .heroflex .herocontent h1 {
  font-size: 48px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent h2 {
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent p {
  font-weight: 400;
  margin-bottom: 1.5rem;
  width: 62%;
}

.herobutton {
  background-color: #424242;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 175px;
  text-align: center;
  border: 2px solid #424242;
}

.herobutton:hover,
.herobutton:active {
  background-color: transparent;
  color: black;
}

.featured {
  width: 100%;
  padding: 3rem;
}

.featured .featuredflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
}

.featured .featuredflex img {
  width: 50%;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.featured .featuredflex .featuredcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  color: white;
}

.featured .featuredflex .featuredcontent p {
  font-weight: 400;
}

.featured .featuredflex .featuredcontent h2 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.featured .featuredflex .featuredcontent .herobutton:hover,
.featured .featuredflex .featuredcontent .herobutton:active {
  color: white;
}

.candles {
  width: 100%;
  padding: 0 3rem 0 3rem;
  /*
    .pickgradient {
        background: linear-gradient(to right, black, white);
        position:relative;
  display:inline-block;
    }
    .pickgradient:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        background: linear-gradient(360deg, #5f5f5f5b, #5555554b);
      }
      */
}

.candles img {
  width: 100%;
  max-height: 350px;
}

.candles .candlecontent {
  background-color: white;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: #e2e2e262 0 12px 24px 0;
          box-shadow: #e2e2e262 0 12px 24px 0;
}

.candles .candlecontent h2 {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}

.candles .candlecontent p {
  margin-bottom: 0.5rem;
}

.cardcontent:hover,
.cardcontent:active,
.cards2content:hover,
.cards2content:active {
  -webkit-box-shadow: #00000046 0 1px 32px 0 !important;
          box-shadow: #00000046 0 1px 32px 0 !important;
}

.cards {
  width: 100%;
  padding: 3rem 0 3rem 0;
  color: #323232;
}

.cards img {
  width: 100%;
}

.cards .cardflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.cards .cardflex .cardcontent {
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: #0000001c 0 12px 62px 0;
          box-shadow: #0000001c 0 12px 62px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cards .cardflex .cardcontent p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: black;
}

.cards .cardflex .cardcontent h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.25rem;
}

.cards .cardflex .cardcontent .herobutton:hover,
.cards .cardflex .cardcontent .herobutton:active {
  background-color: transparent;
  color: black;
}

.cards .cardwords {
  padding: 1rem;
  background-color: white;
}

.cards2 {
  width: 100%;
  padding: 3rem 3rem 0 3rem;
}

.cards2 .cards2flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.cards2 .cards2flex img {
  width: 100%;
}

.cards2 .cards2flex .cards2content {
  width: 100%;
  background-color: #fff;
  margin: 0 1rem 0 0;
  text-align: center;
  -webkit-box-shadow: #0000001c 0 12px 62px 0;
          box-shadow: #0000001c 0 12px 62px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cards2 .cards2flex .cards2content h2 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: black;
}

.cards2 .cards2flex .cards2content p {
  margin: 0;
  color: black;
}

.cards2 .cards2flex .cards2content .cardwords {
  padding: 1rem;
}

.cards2 .cards2flex .c2c2 {
  margin: 0 0 0 1rem;
}

.livingroomhero {
  background-image: url(img/livingroom.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 55vh;
}

.kitchenhero {
  background-image: url(img/kitchen.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 55vh;
}

.kitchenheroflex,
.livingroomheroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchenheroflex .kitchenherocontent,
.kitchenheroflex .livingroomherocontent,
.livingroomheroflex .kitchenherocontent,
.livingroomheroflex .livingroomherocontent {
  width: 38%;
  background-color: #F7f2ed;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.kitchenheroflex .kitchenherocontent h1,
.kitchenheroflex .livingroomherocontent h1,
.livingroomheroflex .kitchenherocontent h1,
.livingroomheroflex .livingroomherocontent h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.kitchenproducts,
.livingroomproducts {
  width: 100%;
  padding: 3rem 0 3rem 0;
}

.kitchenproducts .kitchenproductsflex,
.kitchenproducts .livingroomproductsflex,
.livingroomproducts .kitchenproductsflex,
.livingroomproducts .livingroomproductsflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitchenproducts .kitchenproductsflex img,
.kitchenproducts .livingroomproductsflex img,
.livingroomproducts .kitchenproductsflex img,
.livingroomproducts .livingroomproductsflex img {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #e7e7e7;
  /*
            box-shadow: #0000001c 0 12px 62px 0;
            */
}

.kitchenproducts .kitchenproductsflex .kitchenitem,
.kitchenproducts .kitchenproductsflex .livingroomitem,
.kitchenproducts .livingroomproductsflex .kitchenitem,
.kitchenproducts .livingroomproductsflex .livingroomitem,
.livingroomproducts .kitchenproductsflex .kitchenitem,
.livingroomproducts .kitchenproductsflex .livingroomitem,
.livingroomproducts .livingroomproductsflex .kitchenitem,
.livingroomproducts .livingroomproductsflex .livingroomitem {
  width: 20%;
  margin: 20px 20px;
}

.kitchenproducts .kitchenproductsflex .kitchenitem p:first-of-type,
.kitchenproducts .kitchenproductsflex .livingroomitem p:first-of-type,
.kitchenproducts .livingroomproductsflex .kitchenitem p:first-of-type,
.kitchenproducts .livingroomproductsflex .livingroomitem p:first-of-type,
.livingroomproducts .kitchenproductsflex .kitchenitem p:first-of-type,
.livingroomproducts .kitchenproductsflex .livingroomitem p:first-of-type,
.livingroomproducts .livingroomproductsflex .kitchenitem p:first-of-type,
.livingroomproducts .livingroomproductsflex .livingroomitem p:first-of-type {
  font-size: 1rem;
}

.kitchenproducts .kitchenproductsflex .kitchenitem p,
.kitchenproducts .kitchenproductsflex .livingroomitem p,
.kitchenproducts .livingroomproductsflex .kitchenitem p,
.kitchenproducts .livingroomproductsflex .livingroomitem p,
.livingroomproducts .kitchenproductsflex .kitchenitem p,
.livingroomproducts .kitchenproductsflex .livingroomitem p,
.livingroomproducts .livingroomproductsflex .kitchenitem p,
.livingroomproducts .livingroomproductsflex .livingroomitem p {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.kitchenproducts .kitchenproductsflex .kitchenitem .itemprice,
.kitchenproducts .kitchenproductsflex .livingroomitem .itemprice,
.kitchenproducts .livingroomproductsflex .kitchenitem .itemprice,
.kitchenproducts .livingroomproductsflex .livingroomitem .itemprice,
.livingroomproducts .kitchenproductsflex .kitchenitem .itemprice,
.livingroomproducts .kitchenproductsflex .livingroomitem .itemprice,
.livingroomproducts .livingroomproductsflex .kitchenitem .itemprice,
.livingroomproducts .livingroomproductsflex .livingroomitem .itemprice {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.fa-star,
.fa-star-half-alt {
  color: #e0bc75;
}

.templateflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.templateflex img {
  width: 50%;
  margin: 5rem 1rem 5rem 1rem;
  background-color: #e7e7e7;
}

.templateflex .templatecontent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 1rem 5rem 1rem;
}

.templateflex .templatecontent h3 {
  font-family: 'Montserrat', sans-serif;
}

.opinion {
  padding: 0 3rem 0 3rem;
}

.opinion .opinionflex {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
}

.opinion .opinionflex p {
  margin: 0 3rem;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.customers {
  padding: 3rem 3rem 0 3rem;
  margin-top: 0 !important;
  color: white;
}

.customers h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.customers .carousel-item {
  background-color: #333;
  padding: 2rem;
}

.testimonial-carousel .carousel-control.right::before {
  content: "\203a";
  color: white;
}

.testimonial-carousel .carousel-control.left::before {
  color: white;
}

.services {
  width: 100%;
  padding: 0 3rem 3rem 3rem;
}

.services .servicesflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ebebeb;
  padding: 1rem;
}

.services .servicesflex .serviceitem {
  margin: 0 3rem;
}

.services .servicesflex .serviceitem h5 {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.services .servicesflex .serviceitem p {
  margin-bottom: 0;
  font-weight: 500;
}

.font1 {
  font-family: 'Montserrat', sans-serif;
}

.fa-usps,
.fa-hand-holding-usd,
.fa-headset {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.customerservice {
  width: 100%;
  background-color: #ebebeb;
}

.customerservice .customerserviceflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.customerservice .customerserviceflex .customerservicecontent h6 {
  font-size: 18px;
  font-weight: 500;
}

.customerservice .customerserviceflex .form-control {
  border-color: #333 !important;
}

.customerservice a {
  color: black;
}

.customerservice .herobutton {
  color: white;
}

.customerservice .herobutton:hover,
.customerservice .herobutton:active {
  color: black;
}

.customerservice .md-textarea {
  max-height: 50px;
}

.contact {
  width: 62%;
}

.page-footer {
  background-color: #ebebeb;
  color: black !important;
}

.page-footer .footerbottom {
  margin: auto;
  padding: 0.5rem !important;
}

.page-footer a {
  color: black !important;
}

.page-footer h6 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.page-footer .herobutton {
  color: white !important;
}

.page-footer .herobutton:hover,
.page-footer .herobutton:active {
  color: black !important;
}

.page-footer .buttonbox {
  margin-top: 1rem;
}

.page-footer .customerreview {
  width: 100%;
}

.page-footer .customerreview .fa-star,
.page-footer .customerreview .fa-star-half-alt {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .nav-link {
  font-weight: 500;
  color: black;
  margin: 0 20px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.navbar .nav-item {
  list-style-type: none;
}

.navbar .fa-bars {
  font-size: 2rem;
}

.navbar .logo {
  width: 100px;
}

.navbar .cart {
  position: relative;
  top: 9px;
}

.modal-backdrop {
  z-index: 1;
}

.modalbutton {
  background-color: #424242;
  color: white;
  border: 2px solid #424242;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: 500;
}

.modalbutton:hover,
.modalbutton:active {
  background-color: transparent;
  color: black;
}

.modalexit {
  background-color: transparent;
  border: 2px solid #424242;
  color: black;
}

.nav-tabs {
  background-color: #333;
  color: white;
}

.m0 {
  color: white !important;
}

.fa-user,
.fa-user-plus {
  color: white !important;
}

.userdark {
  color: #333 !important;
}

.modal h4 {
  font-family: 'Playfair Display', serif;
}

.modal .modal-header {
  background-color: #333;
  color: white;
}

.modal .close {
  color: white;
}

.modal label, .modal i {
  color: #333;
}

.fa-shopping-cart {
  font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
  .kitchenheroflex,
  .livingroomheroflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .kitchenheroflex .kitchenherocontent,
  .kitchenheroflex .livingroomherocontent,
  .livingroomheroflex .kitchenherocontent,
  .livingroomheroflex .livingroomherocontent {
    width: 100%;
  }
}

/*
.side-nav {
    position: relative;
    top: 3.65rem;
}

.sidenavbtn {
    top: 5rem;
    position: relative;
}

.productcontainer {
    padding-left: 240px;
    }
    
    @media only screen and (max-width : 1500px) {
    .productcontainer {
    padding-left: 0;
    }
    }
*/
/*# sourceMappingURL=style.css.map */