* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #fafafa;
}

.herocontainer {
  width: 100%;
  min-height: 100vh;
  background: url(img/mansion1.jpg);
  background-size: cover;
  background-position: center -14rem;
}

.herocontainer .heroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herocontainer .heroflex .herocontent {
  width: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 1rem;
  margin: 7.15% 0 0 3rem;
  -webkit-box-shadow: #c5c5c562 0 12px 24px 0;
          box-shadow: #c5c5c562 0 12px 24px 0;
}

.herocontainer .heroflex .herocontent h1 {
  font-size: 48px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent h2 {
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.herocontainer .heroflex .herocontent p {
  font-weight: 400;
  margin-bottom: 1.5rem;
  width: 62%;
}

.herobutton {
  background-color: #424242;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 175px;
  text-align: center;
  border: 2px solid #424242;
}

.herobutton:hover,
.herobutton:active {
  background-color: transparent;
  color: black;
}

.featured {
  width: 100%;
  padding: 3rem;
}

.featured .featuredflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
}

.featured .featuredflex img {
  width: 50%;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.featured .featuredflex .featuredcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  color: white;
}

.featured .featuredflex .featuredcontent p {
  font-weight: 400;
}

.featured .featuredflex .featuredcontent h2 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.featured .featuredflex .featuredcontent .herobutton:hover,
.featured .featuredflex .featuredcontent .herobutton:active {
  color: white;
}

.candles {
  width: 100%;
  padding: 3rem;
  /*
    .pickgradient {
        background: linear-gradient(to right, black, white);
        position:relative;
  display:inline-block;
    }
    .pickgradient:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        background: linear-gradient(360deg, #5f5f5f5b, #5555554b);
      }
      */
}

.candles img {
  width: 100%;
  max-height: 350px;
}

.candles .candlecontent {
  background-color: white;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: #e2e2e262 0 12px 24px 0;
          box-shadow: #e2e2e262 0 12px 24px 0;
}

.candles .candlecontent h2 {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}

.candles .candlecontent p {
  margin-bottom: 0.5rem;
}

.cards {
  width: 100%;
  padding: 3rem 0 3rem 0;
  color: #323232;
}

.cards img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cards .cardflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .cardflex .cardcontent {
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: #e2e2e262 0 12px 24px 0;
          box-shadow: #e2e2e262 0 12px 24px 0;
}

.cards .cardflex .cardcontent h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.cards .cardflex .cardcontent h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.25rem;
}

.cards .cardflex .cardcontent .herobutton:hover,
.cards .cardflex .cardcontent .herobutton:active {
  background-color: transparent;
  color: black;
}

.cards .cardwords {
  padding: 1rem;
  background-color: white;
}

.livingroomhero {
  background-image: url(img/livingroom.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 55vh;
}

.kitchenhero {
  background-image: url(img/kitchen.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-size: cover;
  background-position: 18rem 50%;
  min-height: 55vh;
}

.kitchenheroflex,
.livingroomheroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchenheroflex .kitchenherocontent,
.kitchenheroflex .livingroomherocontent,
.livingroomheroflex .kitchenherocontent,
.livingroomheroflex .livingroomherocontent {
  width: 38%;
  background-color: #F7f2ed;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  margin-top: 3.54rem;
}

.kitchenheroflex .kitchenherocontent h1,
.kitchenheroflex .livingroomherocontent h1,
.livingroomheroflex .kitchenherocontent h1,
.livingroomheroflex .livingroomherocontent h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.kitchenproducts,
.livingroomproducts {
  width: 100%;
  padding: 3rem 0 3rem 0;
}

.kitchenproducts .kitchenproductsflex,
.kitchenproducts .livingroomproductsflex,
.livingroomproducts .kitchenproductsflex,
.livingroomproducts .livingroomproductsflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kitchenproducts .kitchenproductsflex img,
.kitchenproducts .livingroomproductsflex img,
.livingroomproducts .kitchenproductsflex img,
.livingroomproducts .livingroomproductsflex img {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #e7e7e7;
}

.kitchenproducts .kitchenproductsflex .kitchenitem,
.kitchenproducts .kitchenproductsflex .livingroomitem,
.kitchenproducts .livingroomproductsflex .kitchenitem,
.kitchenproducts .livingroomproductsflex .livingroomitem,
.livingroomproducts .kitchenproductsflex .kitchenitem,
.livingroomproducts .kitchenproductsflex .livingroomitem,
.livingroomproducts .livingroomproductsflex .kitchenitem,
.livingroomproducts .livingroomproductsflex .livingroomitem {
  width: 30%;
  margin: 20px 20px;
}

.kitchenproducts .kitchenproductsflex .kitchenitem p,
.kitchenproducts .kitchenproductsflex .livingroomitem p,
.kitchenproducts .livingroomproductsflex .kitchenitem p,
.kitchenproducts .livingroomproductsflex .livingroomitem p,
.livingroomproducts .kitchenproductsflex .kitchenitem p,
.livingroomproducts .kitchenproductsflex .livingroomitem p,
.livingroomproducts .livingroomproductsflex .kitchenitem p,
.livingroomproducts .livingroomproductsflex .livingroomitem p {
  margin-bottom: 0.25rem;
}

.kitchenproducts .kitchenproductsflex .kitchenitem .itemprice,
.kitchenproducts .kitchenproductsflex .livingroomitem .itemprice,
.kitchenproducts .livingroomproductsflex .kitchenitem .itemprice,
.kitchenproducts .livingroomproductsflex .livingroomitem .itemprice,
.livingroomproducts .kitchenproductsflex .kitchenitem .itemprice,
.livingroomproducts .kitchenproductsflex .livingroomitem .itemprice,
.livingroomproducts .livingroomproductsflex .kitchenitem .itemprice,
.livingroomproducts .livingroomproductsflex .livingroomitem .itemprice {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.fa-star,
.fa-star-half-alt {
  color: #e0bc75;
}

.templateflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.templateflex img {
  width: 50%;
  margin: 5rem 1rem 5rem 1rem;
  background-color: #e7e7e7;
}

.templateflex .templatecontent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 1rem 5rem 1rem;
}

.templateflex .templatecontent h3 {
  font-family: 'Montserrat', sans-serif;
}

.opinion {
  padding: 3rem;
}

.opinion .opinionflex {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  background-color: #ebebeb;
}

.opinion .opinionflex p {
  margin: 0 3rem;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.page-footer {
  background-color: #ebebeb;
  color: black !important;
}

.page-footer a {
  color: black !important;
}

.page-footer h6 {
  font-family: 'Playfair Display', serif;
}

.page-footer .font1 {
  font-family: 'Montserrat', sans-serif;
}

.page-footer .customerreview {
  width: 100%;
}

.page-footer .customerreview .fa-star,
.page-footer .customerreview .fa-star-half-alt {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonials {
  width: 100%;
  padding: 3rem 1rem 3rem 1rem;
}

.testimonials .testimonialflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonialflex .testimonial-card {
  width: 30%;
  margin: 0 20px;
}

.testimonials .testimonialflex .testimonial-card .card-up {
  background-color: #333;
}

.navbar {
  background-color: white;
}

.navbar .nav-link {
  font-weight: 500;
  color: black;
  margin: 0 20px;
}

.navbar .fa-bars {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */